/* *{
    font-family: sans-serif !important;
}    
    
    .dashboardCard {
        justify-content: space-evenly;
        background: rgb(131, 58, 180);
        background: #74ebd5;
        background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);
        background: linear-gradient(to right, #ACB6E5, #74ebd5);
        border-radius: 20px;
        padding: 10px;
        margin: 10px;
        box-shadow: 0px 0px 11px 2px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 0px 0px 11px 2px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 11px 2px rgba(0, 0, 0, 0.75);
    }

    .dashboard {
        justify-content: space-evenly;
        padding: 10px;
    }

    .dashboardCardHeading {
        text-align: center;
    }

    .dashboardCardHeading h3 {
        font-weight: 800;
    }

    .dassboardCardQuantity {
        text-align: center;
        font-style: bold;
    }

    .dashboardCardIcon {
        font-size: 6rem !important;
        text-align: center;
    } */